{% extends 'base.twig' %}

{% block contenido %}
{#<h2>Consultor boletas</h2>#}
<hr>

{# mensajes validacion #}
<div id="dvAlert" class="alert alert-danger" role="alert" style="display:none">
  <h4 id="hMsgAlert" class="alert-heading" style="text-align:center"></h4>
  <ul id="lAlert">
  </ul>
</div>

{# mensaje busqueda sin resultado #}
<div id="dvWarn" class="alert alert-warning" role="alert" style="display:none">
  <h4 id="warnMsg" class="alert-heading" style="text-align:center"></h4>
</div>

<form id="formConsultor" method="post" action="{{ path_for('busqueda') }}">


  <div class="form-group">
    <label for="slTipoDoc">Tipo de Documento: </label>
    <select id="slTipoDoc" name="slTipoDoc" class="form-control" required>
      <option value="" selected disabled hidden>Tipo Doc.</option>
      <option value="{{tiposDoc.boleta}}">Boleta</option>
      <option value="{{tiposDoc.exenta}}">Boleta No Afecta o Exenta</option>
    </select>
  </div>

  <div class="form-group">
    <label for="txFolio">Folio: </label>{#validar solo nurmeros#}
    <input id="txFolio" name="txFolio" type="text" class="form-control" placeholder="123456789" required>
    {#<small id="emailHelp" class="form-text text-muted"></small>#}
  </div>

  <div class="form-group">
    <label for="txMonto">Monto: </label>{#validar solo nurmeros#}
    <input id="txMonto" name="txMonto" type="text" class="form-control"  placeholder="9999">
  </div>

  <div class="form-group">
    <label for="dtFecha" >Fecha: </label>{# pattern="[0-9]{4}-[0-9]{2}-[0-9]{2}" #}
    <input id="dtFecha" name="dtFecha" type="date" class="form-control" value="{{ "now"|date("Y-m-d") }}" max="{{ "now"|date("Y-m-d") }}">
  </div>

  <div class="form-row" style="text-align:center">
      <div class="form-group col-md-4"></div>
      <div class="form-group col-md-4" style="text-align:center" >
          <div
                class="g-recaptcha"
                data-size="compact"
                data-callback="verifyCallback"
                data-sitekey="6LfAzMcZAAAAAGEVr-pV-t3a4Op9icxDRRJJf6Kw"
                style="display: inline-block;"
          >
          </div>
      </div>
      <div class="form-group col-md-4"></div>
  </div>

    {#
    <div class="form-check">
      <input type="checkbox" class="form-check-input" id="exampleCheck1">
      <label class="form-check-label" for="exampleCheck1">Check me out</label>
    </div>
    #}
  <br>

  <div class="form-row">
    <div class="form-group col-md-4"></div>
    {# div cargando mientras busca #}
    <div class="form-group col-md-4" style="text-align:center" >
      <button id="btBuscar" class="btn btn-outline-success" type="submit">Buscar</button>

      <div id="dvBuscando" class="spinner-border" role="status" style="display:none">
        <span class="sr-only">buscando...</span>
      </div>

    </div>

    <div class="form-group col-md-4"></div>

  </div>
</form>

{#
<div id="dvResult" class="list-group" style="display:none">
  <a id="aResult" href="#" target="_blank" class="list-group-item list-group-item-action list-group-item-success"></a>
</div>
#}

{# resultado de busqueda #}
<div id="dvResult" class="card border-success mb-3" style="display:none">
  <div class="card-header" style="text-align:center">Resultado</div>
  <div class="card-body text-success">
    <h5 class="card-title" style="text-align:center">
      <a id="aResult" href="#" class="card-title"></a>
    </h5>
  </div>
</div>

{#-----------------------------------------------------------------#}
<hr>
<small>{{ "now"|date("d/m/Y H:i:s") }}</small>
{% endblock %}

{% block scripts %}
<script>
    function verifyCallback(response) {
        console.log('verifyCallback');
        $("#dvAlert").hide();
        $("#lAlert").html('');//lista
        $("#hMsgAlert").text('');//h4
    }
</script>
<script src="https://www.google.com/recaptcha/api.js" async defer></script>

<script>

    (function($) {
        $.fn.inputFilter = function(inputFilter) {
            return this.on("input keydown keyup mousedown mouseup select contextmenu drop", function() {
                if (inputFilter(this.value)) {
                    this.oldValue = this.value;
                    this.oldSelectionStart = this.selectionStart;
                    this.oldSelectionEnd = this.selectionEnd;
                }
                else if (this.hasOwnProperty("oldValue")) {
                    this.value = this.oldValue;
                    this.setSelectionRange(this.oldSelectionStart, this.oldSelectionEnd);
                }
                else {
                    this.value = "";
                }
            });
        };
    }(jQuery));

  $(document).ready(function () {

    $("#formConsultor").submit(function(e) {
      e.preventDefault();

      let recaptchaResponse = grecaptcha.getResponse();
      if( recaptchaResponse.length===0 ){
          console.warn("debe hacer verificacion");
          $("#lAlert").html('');//lista
          $("#hMsgAlert").text("debes completar el reCaptcha");
          $("#dvAlert").show();
          return;
      }
      var form = $(this);
      var url = form.attr('action');

      $.ajax({
        type: "POST",
        url: url,
        data: form.serialize(),
        beforeSend: function() {

          $("#btBuscar").hide();

          {# limpia mensajes de validacion server #}
          $("#dvAlert").hide();
          $("#lAlert").html('');//lista
          $("#hMsgAlert").text('');//h4

          {# limpia resultado de busqueda #}
          $("#dvResult").hide();
          $("#aResult").text('');
          $("#aResult").attr('href','#');

          {# limpia busqueda sin resultados #}
          $("#dvWarn").hide();
          $("#warnMsg").text('');

          $("#dvBuscando").show();
        },
        success: function(res){
          console.log(res);
          if('data' in res){
            $("#aResult").text('Folio: '+res.data.folio +' '+res.data.fecha);
            $("#aResult").attr('href',res.data.url);
            $("#dvResult").show();
          }
          else{
            {# busqueda sin resultado #}
            $("#warnMsg").text(res.message);
            $("#dvWarn").show();
          }
        },
        error: function (jqXhr, textStatus, errorMessage) {
          var res = jqXhr.responseJSON;
          switch (jqXhr.status) {
            case 400:
              $("#hMsgAlert").text(res.message);

              if('details' in res){
                if('tipoDoc' in res.details){
                  $("#lAlert").append('<li>'+res.details.tipoDoc+'</li>');
                }
                if('folio' in res.details){
                  $("#lAlert").append('<li>'+res.details.folio+'</li>');
                }
                if('monto' in res.details){
                  $("#lAlert").append('<li>'+res.details.monto+'</li>');
                }
                if('fecha' in res.details){
                  $("#lAlert").append('<li>'+res.details.fecha+'</li>');
                }
                if('recaptcha' in res.details){
                  $("#lAlert").append('<li>'+res.details.recaptcha+'</li>');
                }
              }
              break;
            case 500:
              console.warn(' error 500');
              $("#hMsgAlert").text("Ha ocurrido un error desconocido, intente de nuevo más tarde");
                break;
            default:
              console.warn(' error '+jqXhr.status);
              console.warn(' error '+errorMessage);

              $("#hMsgAlert").text("Ha ocurrido un error desconocido, intente de nuevo más tarde");
          }

          $("#dvAlert").show();
        },
        complete: function(){
          console.log('complete');
          grecaptcha.reset();
          $("#dvBuscando").hide();
          $("#btBuscar").show();
        },
      });
    });//submit

    $("#txFolio").inputFilter(function(value) {
      return /^-?\d*$/.test(value);
    });

    $("#txMonto").inputFilter(function(value) {
      return /^-?\d*$/.test(value);
    });

  });
</script>

{% endblock %}
